.notfound {
  text-align: center;
}
.home {
  margin: 20px 0;
}
.back__button {
  background-color: #ef720c !important;
  text-transform: capitalize;
  color: white !important;
  border: none !important;
  padding: 10 px 20 px !important;
  border-radius: 20 px;
  margin-bottom: 20 px;
}
